apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: redis-insight
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/compare-options: ServerSideDiff=true
    # notifications.argoproj.io/subscribe.on-deployed.slack: ea-cloud-argo-cd-status
    # notifications.argoproj.io/subscribe.on-health-degraded.slack: ea-cloud-argo-cd-status
    # notifications.argoproj.io/subscribe.on-sync-failed.slack: ea-cloud-argo-cd-status
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: redis
  project: default
  source:
    path: overlays/systems/redis-insight/overlay
    repoURL: ssh://git@dv-srv-gl.dwl.local:2424/gitops/gitops.git
    targetRevision: dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true