apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../../../base/systems/redis-insight
- ingress.yaml

patchesStrategicMerge:
- deployment.yaml
- service.yaml

images:
  - name: redisinsight
    newName: redis/redisinsight
    newTag: latest
