apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: redis
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/compare-options: ServerSideDiff=true
    # notifications.argoproj.io/subscribe.on-deployed.slack: ea-cloud-argo-cd-status
    # notifications.argoproj.io/subscribe.on-health-degraded.slack: ea-cloud-argo-cd-status
    # notifications.argoproj.io/subscribe.on-sync-failed.slack: ea-cloud-argo-cd-status
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: redis
  project: default
  source:
    chart: redis
    repoURL: https://charts.bitnami.com/bitnami
    targetRevision: 21.1.5
    helm:
      valuesObject:
        global:
          storageClass: "csi-disk"
        master:
          persistence:
            storageClass: "csi-disk"
            size: 3Gi
        replica:
          replicaCount: 1
          persistence:
            storageClass: "csi-disk"
            size: 3Gi
  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true