apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/compare-options: ServerSideDiff=true
    notifications.argoproj.io/subscribe.on-deployed.slack: ea-cloud-argo-cd-status
    notifications.argoproj.io/subscribe.on-health-degraded.slack: ea-cloud-argo-cd-status
    notifications.argoproj.io/subscribe.on-sync-failed.slack: ea-cloud-argo-cd-status
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  project: default
  source:
    chart: loki
    repoURL: https://grafana.github.io/helm-charts
    targetRevision: 6.36.1
    helm:
      valuesObject:
        global:
          dnsService: coredns
        loki:
          extraArgs:
            - "-config.expand-env=true"
          extraEnvFrom:
            - secretRef:
                name: loki-huawei-s3-secret
          auth_enabled: false
          commonConfig:
            replication_factor: 1
          schemaConfig:
            configs:
              - from: "2024-04-01"
                store: tsdb
                object_store: s3
                schema: v13
                index:
                  prefix: loki_index_
                  period: 24h
          pattern_ingester:
            enabled: true
          limits_config:
            allow_structured_metadata: true
            volume_enabled: true
            retention_period: 7d
          compactor:
            working_directory: /tmp/loki/retention
            retention_enabled: true
            retention_delete_delay: 2h
            delete_request_store: filesystem
          ruler:
            enable_api: true
          storage:
            bucketNames:
              chunks: dev-wallet-tempo-log
              ruler: dev-wallet-tempo-log
            tpye: s3
            s3:
              endpoint: "https://obs.ap-southeast-2.myhuaweicloud.com"
              region: "ap-southeast-2" 
              s3ForcePathStyle: false
              insecure: false
              accessKeyId: ${HUAWEI_S3_ACCESS_KEY}
              secretAccessKey: ${HUAWEI_S3_SECRET_KEY}

        minio:
          enabled: false

        deploymentMode: SingleBinary

        singleBinary:
          replicas: 1
          persistence:
            # enabled: false
            storageClassName: "csi-disk"
            size: 3Gi

        chunksCache:
          resources:
            requests:
              memory: 512Mi
              cpu: 100m

        resultsCache:
          resources:
            requests:
              memory: 512Mi
              cpu: 100m

        # Zero out replica counts of other deployment modes
        backend:
          replicas: 0
        read:
          replicas: 0
        write:
          replicas: 0
        ingester:
          replicas: 0
        querier:
          replicas: 0
        queryFrontend:
          replicas: 0
        queryScheduler:
          replicas: 0
        distributor:
          replicas: 0
        compactor:
          replicas: 0
        indexGateway:
          replicas: 0
        bloomCompactor:
          replicas: 0
        bloomGateway:
          replicas: 0
  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true
